.config-container {
  max-width: 500px;
  margin: auto;
}

.menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.menu .btn {
  flex: 1;
  border: 1px solid #ccc;
}

.menu .activo {
  background: #000;
  color: #fff;
}

.card {
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.info-usuario {
  margin-bottom: 15px;
  font-size: 14px;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 6px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.exito {
  color: green;
  margin-bottom: 10px;
}
