<div class="reserva-container" *ngIf="habitacion">

  <h2>🏨 Reserva en {{ habitacion.hotel }}</h2>

  <div class="habitacion-info">
    <h3>Habitación {{ habitacion.number }} — {{ habitacion.type }}</h3>
    <p><b>Capacidad:</b> {{ habitacion.capacity }} personas</p>
    <!-- Sin promo -->
    <p *ngIf="!promoActiva">
      <b>Precio por noche:</b> ${{ habitacion.pricePerNight }}
    </p>

    <!-- Con promo -->
    <p *ngIf="promoActiva">
      <b>Precio por noche:</b>
      <span class="text-muted text-decoration-line-through me-1">
        ${{ habitacion.pricePerNight }}
      </span>
      <span class="precio">
        ${{ precioPorNocheConPromo }}
      </span>
      <span class="badge bg-success ms-1" *ngIf="promoSeleccionada">
        {{ promoSeleccionada.nombre }}
      </span>
      <span class="badge bg-secondary ms-1" *ngIf="!promoSeleccionada && promoActiva">
        Mejor disponible: {{ promoActiva.nombre }}
      </span>

    </p>

    <p><b>Estado actual:</b> {{ habitacion.status }}</p>
  </div>

  <hr />

  <!-- Selección de fechas -->
<mat-form-field appearance="outline" class="w-100">
  <mat-label>Selecciona tus fechas</mat-label>

  <mat-date-range-input
    [rangePicker]="picker"
    [dateFilter]="fechaDisponible"
  >
    <input
      matStartDate
      placeholder="Entrada"
      (dateChange)="onEntradaChange($event.value)"
    />
    <input
      matEndDate
      placeholder="Salida"
      (dateChange)="onSalidaChange($event.value)"
    />
  </mat-date-range-input>

  <mat-datepicker-toggle
    matSuffix
    [for]="picker"
  ></mat-datepicker-toggle>

  <mat-date-range-picker
    #picker
    touchUi="true"
    [dateClass]="dateClass"
  ></mat-date-range-picker>
</mat-form-field>


<!-- Selección de promoción -->
<div class="mt-3" *ngIf="promosDisponibles && promosDisponibles.length > 0">
  <label>
    Promoción:
      <select
        class="form-select"
        [(ngModel)]="promoSeleccionada"
        (ngModelChange)="actualizarPromosYPrecio()"
      >
      <option [ngValue]="null">Sin promoción</option>

      <option *ngFor="let p of promosDisponibles" [ngValue]="p">
        {{ p.nombre }} —
        {{ p.tipo === 'porcentaje' ? (p.valor + '%') : ('$' + p.valor) }}
      </option>
    </select>
  </label>

  <small class="text-muted d-block mt-1">
    Elige una promoción disponible para aplicarla al costo total.
  </small>
</div>

<div class="mt-3 text-muted" *ngIf="promosDisponibles && promosDisponibles.length === 0">
  No hay promociones disponibles por ahora.
</div>


  <div class="total" *ngIf="total > 0">
    <h3>Total: <span class="precio">${{ total }}</span></h3>
  </div>

  <button class="btn-reservar" (click)="reservar()">Confirmar reserva</button>

</div>

<div *ngIf="!habitacion">
  <p>Cargando información de la habitación...</p>
</div>
