/* Fondo general */
body {
  background: linear-gradient(135deg);
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Caja principal del formulario */
.registro-container {
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

/* Título */
.registro-container h2 {
  text-align: center;
  padding: 20px 0 40px 0;
}

/* Contenedor de cada campo */
.form-nombre,
.form-usuario,
.form-contraseña,
.form-confirm {
  position: relative;
  margin-bottom: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Etiquetas flotantes */
.form-nombre label,
.form-usuario label,
.form-contraseña label,
.form-confirm label {
  position: absolute;
  top: 36%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Ajuste especial para contraseña */
.form-contraseña label {
  top: 60%;
}

/* Estilo de los inputs */
.form-nombre input,
.form-usuario input,
.form-contraseña input,
.form-confirm input {
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
}

/* Movimiento de las etiquetas cuando hay texto o foco */
.form-nombre input:focus ~ label,
.form-nombre input:valid ~ label,
.form-usuario input:focus ~ label,
.form-usuario input:valid ~ label,
.form-contraseña input:focus ~ label,
.form-contraseña input:valid ~ label,
.form-confirm input:focus ~ label,
.form-confirm input:valid ~ label {
  top: -5px;
  font-size: 14px;
  color: #6c3483;
}

/* Botón principal */
.registro-container button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: black;
  border-radius: 25px;
  font-size: 18px;
  color: white;
}
