body {
  background: linear-gradient(135deg);
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.registro-container{
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}
.registro-container h2{
  text-align: center;
  padding: 20px 0 40px 0;
}
/*espacio entre los dos casillas*/
.form-nombre,
.form-usuario,
.form-contraseña,
.form-confirm {
  position: relative;
  margin-bottom: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-nombre label{
  position:absolute;
  top: 36%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-usuario label{
  position:absolute;
  top: 36%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.3s ease;
}
.form-contraseña label{
  position:absolute;
  top: 60%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.3s ease;

}
.form-confirm label{
  position:absolute;
  top: 36%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.3s ease;
}

/*casillas*/
.form-nombre input{
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
}
.form-usuario input{
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
}
.form-contraseña input{
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
}
.form-confirm input{
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
}
.form-nombre input:focus ~ label,
.form-nombre input:valid ~ label,
.form-usuario input:focus ~ label,
.form-usuario input:valid ~ label,
.form-contraseña input:focus ~ label,
.form-contraseña input:valid ~ label,
.form-confirm input:focus ~ label,
.form-confirm input:valid ~ label {
  top: -5px; /* Mueve la etiqueta arriba del todo */
  font-size: 14px; /* Opcional: la achica un poco */
  color: #6C3483;
}
.registro-container button{
  width: 100%;
  height: 50px;
  border: 1px solid; 
  background: black;
  border-radius: 25px;
  font-size: 18px;
  color: white;
}