<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <!-- Formulario de login -->
  <form (ngSubmit)="login()">
    <!-- Usuario -->
    <div class="form-usuario">
      <input
        type="text"
        id="usuario"
        name="usuario"
        [(ngModel)]="datosLogin.usuario"
        required
      />
      <label for="usuario">Usuario</label>
    </div>

    <!-- Contraseña -->
    <div class="form-contraseña">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="datosLogin.contrasena"
        required
      />
      <label for="password">Contraseña</label>
    </div>

    <!-- Botón de ingreso -->
    <button type="submit">Ingresar</button>
  </form>

  <!-- Enlace al registro -->
  <div class="registro-link">
    <p>
      ¿No tienes una cuenta?
      <a routerLink="/registro">Regístrate aquí</a>
    </p>
  </div>
</div>
