<h2>Gestión de Promociones</h2>

<div>
  <label for="nombrePromo">Nombre de la promoción:</label>
  <input id="nombrePromo" [(ngModel)]="nombre" />
</div>

<div>
  <label for="tipoPromo">Tipo:</label>
  <select id="tipoPromo"[(ngModel)]="tipo">
    <option value="porcentaje">Porcentaje (%)</option>
    <option value="fijo">Fijo ($ CLP)</option>
  </select>
</div>

<div>
  <label for="ValorPromo">Valor:</label>
  <input id = "ValorPromo" type="number" [(ngModel)]="valor" />
</div>

<div>
  <label for="DesdePromo">Desde:</label>
  <input id ="DesdePromo" type="date" [(ngModel)]="desde" />
</div>

<div>
  <label for="HastaPromo">Hasta:</label>
  <input id="HastaPromo"type="date" [(ngModel)]="hasta" />
</div>

<button (click)="agregar()">Agregar Promoción</button>

<hr>

<ul>
  <li *ngFor="let p of promociones">
    <ng-container *ngIf="p.tipo === 'porcentaje'; else fijo">
      {{ p.nombre }} - {{ p.valor }}% - {{ p.desde | date:'dd/MM/yyyy' }} → {{ p.hasta | date:'dd/MM/yyyy' }}
    </ng-container>
    <ng-template #fijo>
      {{ p.nombre }} - {{ p.valor | currency:'CLP':'symbol-narrow':'1.0-0' }} - {{ p.desde | date:'dd/MM/yyyy' }} → {{ p.hasta | date:'dd/MM/yyyy' }}
    </ng-template>
    <button (click)="eliminar(p.id)">Eliminar</button>
  </li>
</ul>
