/* You can add global styles to this file, and also import other style files */
body {
  /* Asegúrate de que esta regla esté aquí */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img/Fondo_Login.jpg');  background-size: cover;     /* Hace que la imagen cubra toda la pantalla */
  background-size: cover;
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh;

  /* Añade esto para eliminar márgenes por defecto del navegador */
  margin: 0; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}